//META{"name":"Isla","description":"Isla theme from plastic memories","author":"Hazuki#3788","version":"1.5"}*//

/* import core css by spectra */
@import url("https://codedotspectra.github.io/themes/neutron/importCSS/xcore.css");
/* import font from google fonts */
@import url("https://fonts.googleapis.com/css?family=Comfortaa");

:root {
  /* set background image */
  --bgImage: url("https://raw.githubusercontent.com/Hazuki0511/Isla-theme-for-discord/master/img/background.jpg");
  /* set home button image */
  --HomeButtonImg: url("https://raw.githubusercontent.com/Hazuki0511/Isla-theme-for-discord/master/img/home.png");
  /* set background brightness */
  --brightness: 0.4;
  /* set text font */
  --customFont: "Comfortaa";
  /* set primary color */
  --PrimaryColor01: #ff8080;
  --PrimaryColorRGBA: rgba(255, 128, 128, 0.15);
  --PrimaryColor02: #00b8cc;
}

.wordmark-2iDDfm svg {
  /* set wordmark image */
  background-image: url("https://raw.githubusercontent.com/Hazuki0511/Isla-theme-for-discord/master/img/wordmark.png");
  /* set wordmark position */
  background-position: center;
  /* set wordmark display times */
  background-repeat: no-repeat;
  /* set wordmark size */
  background-size: contain;
  width: 100px;
  height: 16px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  display: block;
}
